.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.nyc_output
coverage
docs/
.rush/
.github/
out/
config/
tests/
**/*.log
test-resources/

# Ignore all webview-ui files except the build directory
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**

.env
.env.example
scripts/**
*.log
rush-logs
