<{{tag}}>
    <connections>
        {{#connections}}
        <{{name}}>{{value}}</{{name}}>
        {{/connections}}
    </connections>
    {{#supportTools}}<mcpConnections>
        {{#mcpConnections}}
        <mcpConfigKey>{{.}}</mcpConfigKey>
        {{/mcpConnections}}
    </mcpConnections>{{/supportTools}}
    {{#parameters}}
    <{{{name}}} {{#value}}{{#namespaces}} xmlns:{{{prefix}}}="{{{uri}}}"{{/namespaces}}>{{#isCDATA}}<![CDATA[{{{value}}}]]>{{/isCDATA}}{{^isCDATA}}{{value}}{{/isCDATA}}{{/value}}</{{{name}}}>
    {{/parameters}}
    {{#supportTools}}<tools>
        {{#tools}}
        <tool name="{{name}}" {{#isMCP}}type="mcp" mcpConnection="{{mcpConnection}}"{{/isMCP}}{{^isMCP}}template="{{template}}" resultExpression="{{resultExpression}}"{{/isMCP}} description="{{description}}"/>
        {{/tools}}
    </tools>{{/supportTools}}
</{{tag}}>
