{{#isLatest}}<log {{#category}}category="{{category}}"{{/category}} {{#level}}level="{{level}}"{{/level}} {{#separator}}separator="{{separator}}"{{/separator}} logMessageID="{{logMessageID}}" logFullPayload="{{logFullPayload}}" {{#traceFilter}}traceFilter="enable" {{/traceFilter}}{{#description}}description="{{description}}"{{/description}}>
    <message>{{message}}</message>
    {{#properties}}
        <property name="{{propertyName}}" {{#value}}value="{{value}}"{{/value}} {{#expression}}expression="{{expression}}" {{#namespaces}} xmlns:{{prefix}}="{{uri}}"{{/namespaces}} {{/expression}} />
    {{/properties}}
</log>{{/isLatest}}
{{^isLatest}}{{#selfClosed}}
  <log {{#category}}category="{{category}}"{{/category}} {{#level}}level="{{level}}"{{/level}} {{#separator}}separator="{{separator}}"{{/separator}} {{#traceFilter}}traceFilter="enable" {{/traceFilter}}{{#description}}description="{{description}}"{{/description}}/>
  {{/selfClosed}}
  {{^selfClosed}}
  <log {{#category}}category="{{category}}"{{/category}} {{#level}}level="{{level}}"{{/level}} {{#separator}}separator="{{separator}}"{{/separator}} {{#description}}description="{{description}}"{{/description}}>
{{#properties}}
    <property name="{{propertyName}}" {{#value}}value="{{value}}"{{/value}} {{#expression}}expression="{{expression}}" {{#namespaces}} xmlns:{{prefix}}="{{uri}}"{{/namespaces}} {{/expression}} />
{{/properties}}
</log>
{{/selfClosed}}
{{/isLatest}}
