<throwError {{#traceFilter}}traceFilter="enable" {{/traceFilter}}{{#errorMessage}}errorMessage="{{value}}"{{#namespaces}} xmlns:{{prefix}}="{{uri}}" {{/namespaces}}{{/errorMessage}} {{#description}}description="{{description}}" {{/description}} {{#type}}type="{{type}}"{{/type}}/>
