    <rewrite description="{{description}}" inProperty="{{inProperty}}" outProperty="{{outProperty}}" >
    {{#urlRewriteRules}}
        <rewriterule>
            {{#condition}}
            <condition>{{{condition}}}</condition>
            {{/condition}}
            {{#rewriteRuleAction}}
                <action fragment="{{ruleFragment}}" {{#actionRegex}}regex="{{actionRegex}}"{{/actionRegex}} type="{{ruleAction}}" {{#actionValue}}value="{{actionValue}}"{{/actionValue}} {{#actionExpression}}xpath="{{actionExpression}}" {{#namespaces}}xmlns:{{prefix}}="{{uri}}" {{/namespaces}}{{/actionExpression}} />
            {{/rewriteRuleAction}}
        </rewriterule>
    {{/urlRewriteRules}}
    </rewrite>