  {{#isInline}}
  <send {{#receivingSequence}}receive="{{receivingSequence}}" {{/receivingSequence}}{{#buildMessageBeforeSending}}buildmessage="{{buildMessageBeforeSending}}" {{/buildMessageBeforeSending}}{{#namespaces}}xmlns:{{prefix}}="{{uri}}" {{/namespaces}}{{#description}}description="{{description}}" {{/description}}>
      {{{inlineEndpoint}}}
  </send>
  {{/isInline}}
  {{^isInline}}
  {{#endpoint}}
  <send {{#receivingSequence}}receive="{{receivingSequence}}" {{/receivingSequence}}{{#buildMessageBeforeSending}}buildmessage="{{buildMessageBeforeSending}}" {{/buildMessageBeforeSending}}{{#namespaces}}xmlns:{{prefix}}="{{uri}}" {{/namespaces}}{{#description}}description="{{description}}" {{/description}}>
    <endpoint key="{{endpoint}}"/>
  </send>
  {{/endpoint}}
  {{^endpoint}}
  <send {{#receivingSequence}}receive="{{receivingSequence}}" {{/receivingSequence}}{{#buildMessageBeforeSending}}buildmessage="{{buildMessageBeforeSending}}" {{/buildMessageBeforeSending}}{{#namespaces}}xmlns:{{prefix}}="{{uri}}" {{/namespaces}}{{#description}}description="{{description}}" {{/description}}/>
  {{/endpoint}}
  {{/isInline}}