    {{#isNewMediator}}
    <switch {{#description}}description="{{description}}"{{/description}} {{#sourceXPath}}source="{{value}}"{{#namespaces}} xmlns:{{prefix}}="{{uri}}"{{/namespaces}}{{/sourceXPath}} >
        {{#caseBranches}}
        <case regex="{{caseRegex}}"></case>
        {{/caseBranches}}
        <default></default>
    </switch>
    {{/isNewMediator}}
    {{^isNewMediator}}
    {{#editSwitch}}
    {{#switchSelfClosed}}
    <switch {{#description}}description="{{description}}"{{/description}} {{#sourceXPath}}source="{{value}}"{{#namespaces}} xmlns:{{prefix}}="{{uri}}"{{/namespaces}}{{/sourceXPath}} />
    {{/switchSelfClosed}}
    {{^switchSelfClosed}}
    <switch {{#description}}description="{{description}}"{{/description}} {{#sourceXPath}}source="{{value}}"{{#namespaces}} xmlns:{{prefix}}="{{uri}}"{{/namespaces}}{{/sourceXPath}}>
    {{/switchSelfClosed}}
    {{/editSwitch}}
    {{#newCase}}
    <case regex="{{caseRegex}}"></case>
    {{/newCase}}
    {{#newBranch}}
    <case regex="{{caseRegex}}"></case>
    {{/newBranch}}
    {{#editCase}}
    {{#caseSelfClosed}}
    <case regex="{{caseRegex}}"></case>
    {{/caseSelfClosed}}
    {{^caseSelfClosed}}
    <case regex="{{caseRegex}}" >
    {{/caseSelfClosed}}
    {{/editCase}}
    {{/isNewMediator}}  